**/node_modules
.env

# MAC files.
.DS_Store

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Prevent yarn lock being committed
# as these are just course projects.
yarn.lock
package-lock.

