div {
  margin: 5px 0;
  border: 2px solid #c3e6cb;
  border-radius: 10px;
  background-color: #d4edda;
  color: #155724;
}

p {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
