<app-server></app-server>

<!-- Dynamically add servers using ngFor -->
<h3 style="margin-top: 30px;">Using *ngFor</h3>
<app-server *ngFor="let server of servers">

</app-server>

<!-- One way binding -->
<input 
	type="text"
	class="form-control"
	(input)="onUpdateServerName($event)"/>
<br>
<!-- Two way binding -->
<input 
	type="text"
	class="form-control"
	[(ngModel)]="serverName"/>
<br>
<p>{{ serverName }}</p>
<br>
<button
	class="btn btn-primary"
	[disabled]="!allowNewServers"
	(click)="onCreateServer()">
	Add Server
</button>
<p [innerText]="allowNewServers"></p>
<p>{{ serverCreationStatus }}</p>
<br>
<!-- Databinding ngIf -->
<p *ngIf="serverCreated; else noServer">Created new server called: {{ serverName }}</p>
<ng-template #noServer>
	<p>No server was created.</p>
</ng-template>
